@import 'vars';
@import 'common';
@import 'form';

.affordability-calculator {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

  &__transaction-details {
    @extend %affordability-box;

    &__buyer-status {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 30px auto;
    }
  }

  &__cashflow {
    @extend %affordability-box;
  }

  &__deposit {
    @extend %affordability-box;
  }

  &__mortgage {
    @extend %affordability-box;
  }

  &__indicators {
    @extend %affordability-box;

    grid-column: 1 / 3;

    &-cols {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
  }
}

.affordability-calculator__item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
