<h1>Affordability Calculator</h1>

<form>
    <div>
      House price £{{housePrice}}
    </div>
    <fieldset>
      <legend>Cashflow</legend>
      <div>
        <label for="salary">Salary</label>
        £ <input type="number" name="salary" id="salary" [(ngModel)]="salary">
      </div>
      <div>
        <label for="net-monthly-earnings">Net monthly earnings</label>
        £ <input type="number" name="net-monthly-earnings" id="net-monthly-earnings" [(ngModel)]="netMonthlyEarnings">
      </div>
      <div>
        <label for="monthly-outgoings">Monthly outgoings</label>
        £ <input type="number" name="monthly-outgoings" id="monthly-outgoings" [(ngModel)]="monthlyOutgoings">
      </div>
      <div>
        Monthly disposable income £{{disposableIncome}}
      </div>
    </fieldset>

    <fieldset>
      <legend>Deposit</legend>
      <div>
        <label for="savings">Total savings</label>
        £ <input type="number" name="savings" id="savings" [(ngModel)]="totalSavings">
      </div>
      <div>
        <label for="stamp-duty">Stamp duty</label>
        £ <input type="number" name="stamp-duty" id="stamp-duty" [(ngModel)]="stampDuty">
      </div>
      <div>
        <label for="other-fees">Other fees</label>
        £ <input type="number" name="other-fees" id="other-fees" [(ngModel)]="otherFees">
      </div>

      <div>
        Deposit £{{deposit}}
        This is calculated using the highest affordable LTV, based on your earnings, savings and property price.
      </div>
      <div>
        Excess cash £{{excessCash}}
      </div>
    </fieldset>

    <fieldset>
      <legend>Mortgage Value</legend>
      <div>
        <label for="ltv">LTV</label>
        <input type="number" name="ltv" id="ltv" [(ngModel)]="loanToValue">%
      </div>
      <div>
        Loan amount £{{loanAmount}}
      </div>
      <div>
        <label for="term">Mortgage term</label>
        <input type="number" name="term" id="term"  [(ngModel)]="term"> years
      </div>
      <div>
        <label for="interest-rate">Interest rate</label>
        <input type="number" name="interest-rate" id="interest-rate" [(ngModel)]="interestRate"> %
      </div>
      <div>
        Monthly payment £{{monthlyPayment}}
      </div>
    </fieldset>
    <div>
      <h2>Indicators</h2>
      <div>
        Annual salary multiple for mortgage amount: {{annualSalaryMultiple}}x
      </div>
      <div>
        % of income used for mortgage payment: {{percentIncomeUsedForMortgagePayment}}%
      </div>
      <div>
        % of disposable income used for mortgage payment: {{percentDisposableIncomeUsedForMortgagePayment}}%
      </div>
    </div>
</form>
